{% extends 'base.html.twig' %}




{% block title %}Band hire{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Welcome to Book-A-Band! ✅</h1>

    <h2>
        Customer
    </h2>
    <ul>
        <li>

            <a href="{{ path('app_customer') }}"> Customer home page (via login) </a>
        </li>
        <li>


            <a href="{{ path('app_register_user') }}">Register customer</a>

        </li>
    </ul>
    <h2>
        Band
    </h2>
    <li>
        <a href="{{ path('app_band') }}"> Band home page (via login) </a>
    </li>
    <li>

        <a href="{{ path('app_register_band') }}"> Register band</a>
    </li>
    <h2>
        Manager
    </h2>
    <li>
           <a href="{{ path('app_manager') }}"> Manager home page (via login) </a>
    </li>
    <li>
               <a href="{{ path('app_register_manager') }}"> Register manager</a>

    </li>

</div>
{% endblock %}
