{% extends 'base.html.twig' %}

{% block title %}Band{% endblock %}

{% block body %}
    <h1>Band</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ band.name }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ band.genre }}</td>
            </tr>


            <tr>
                <th>Band Member(s) </th>
                <td>{{ band.getBandMembers }}</td>

            </tr>
            <tr>
                <th>Hiring Price (euros)</th>
                <td>{{ band.price }}</td>

            </tr>
            <tr>
                <th>List of Songs</th>
            </tr>
            <tr>
                <td>{% for bandSong in band.bandSongs %}
                        {{ bandSong }}<br>
                    {% endfor %}</td>

            </tr>

        </tbody>
    </table>



    <a href="{{ path('app_band_edit', {'id': band.id}) }}">edit</a>
    <a href="{{ path('app_band_song_new', {'id': band.id}) }}">Add band songs</a>
   <a href="{{ path('app_logout') }}"> <button>LOG OUT</button></a>
    <a href="{{ path('app_band_bookings') }}"> <button>View bookings</button></a>


    {{ include('band/_delete_form.html.twig') }}
{% endblock %}
