{% extends 'base.html.twig' %}

{% block title %}Band{% endblock %}

{% block body %}
    <h1>Band</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ band.name }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ band.genre }}</td>
            </tr>


            <tr>
                <th>Band Member(s) </th>
                <td>{{ band.getBandMembers }}</td>

            </tr>

        </tbody>
    </table>



    <a href="{{ path('app_band_edit', {'id': band.id}) }}">edit</a>
   <a href="{{ path('app_logout') }}"> <button>LOG OUT</button></a>


    {{ include('band/_delete_form.html.twig') }}
{% endblock %}
