{% extends 'base.html.twig' %}

{% block title %}BandMember index{% endblock %}

{% block body %}
    <h1>BandMember index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>BandRole</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for band_member in band_members %}
            <tr>
                <td>{{ band_member.id }}</td>
                <td>{{ band_member.firstName }}</td>
                <td>{{ band_member.lastName }}</td>
                <td>{{ band_member.Email }}</td>
                <td>{{ band_member.password }}</td>
                <td>{{ band_member.bandRole }}</td>
                <td>
                    <a href="{{ path('app_band_member_show', {'id': band_member.id}) }}">show</a>
                    <a href="{{ path('app_band_member_edit', {'id': band_member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_band_member_new') }}">Create new</a>
{% endblock %}
